<div class="app">
  <!-- 头部 -->
  <Header></Header>
  <nav>
    <div class="left">
      <ul>
        <li v-for="(text,i) in list" :key="text.id" @click="shopList(i,text.id)">
          <a href="#" :class="{menuIcon:!text.icon,active: index === i}">{{text.name}}</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <div class="nav">
        <ul>
          <li>全部分类</li>
          <li>综合排序</li>
        </ul>
      </div>
      <div class="shop">
        <ul>
          <li v-for="v in productsList" :key="v.id" @click="getproductId(v.product_id)">
            <div class="shop_list">
              <img :src="v.img" width="55" height="55" alt="">
              <p class="shop_name">{{v.name}}</p>
              <p>{{v.specifics}}</p>
              <p><span class="price">￥{{v.price}}</span><s>￥{{v.partner_price}}</s></p>
            </div>
            <div class="add">
              <span class="btn" @click.stop="Reduction(v.count,v.id)" v-show="v.count">-</span>
              <span class="num" v-show="v.count">{{v.count}}</span>
              <span class="btn" @click.stop="add(v.count,v.id)">+</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 底部 -->
  <Footer></Footer>
</div>